.profile_page__popup{
  height: 100%;
  width: 100%;
  position:fixed;
  transform: translateY(100%);
  transition: 0.4s ease-in-out;
  z-index: 2;
}

.profile_page__popup--open{
 @extend .profile_page__popup;
  transform: translateY(-100%);
  transition: 0.2s ease-out;
}

.popup_body{
  height: 100%;
  width: 100%;
  background-color:var(--bg-color);
  display: flex;
  align-items:center;
  flex-direction: column;
  border-radius:8px 8px 0 0;
}

.popup__close_button{
  height: 200px;
  width: 100%;
  background-color:transparent;
  border:none;
}
.popup_top{
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top: 8px;
  position:relative;
  height: 30px;
  width: 100%;
}
.popup_top__line{
  align-self:center;
  height: 5px;
  width: 30px;
  border-radius:5px;
  background-color:var(--bg-color-light);
}

.popup_top__close_button{
  height: 25px;
  width: 25px;
  position:absolute;
  top:8px;
  right: 8px;
  background-color:var(--bg-color-light);
  border:none;
  border-radius:50%;
  display: flex;
  align-items:center;
  justify-content: center;
  color: var(--gray);
  padding:0;

}


.popup__photo_slider{
  overflow-y: hidden;
  overflow-x: scroll;
  width: 320px;
  height: 90px;
  display: flex;

}

.photo{
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 5px;
  border:2px solid transparent;
  border-radius:50%;
  flex-shrink: 0;
  transition:0.1s ease-in-out;
}
.photo--selected{
  @extend .photo;
  border:2px solid var(--main-color);
  transition:0.1s ease-in-out;

}

.input{
  height: 33px;
  width: 256px;
  background-color: var(--bg-color-light);
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 13pt;
  font-weight: 500;
  color: white;
  margin: 5px 0;
  padding:0 5px;
}
.input:disabled{
  color: gray;

}

