%message {
  max-width: 250px;
  min-width: 100px;
  height: auto;
  margin: 10px 8px 0;
  align-self: flex-start;
  border-radius: 15px;
  padding: 10px;
  word-wrap: break-word;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.message_text {
  flex: 1;
}
.message_pre {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  word-wrap: break-word;
  flex: 1;
  white-space: break-spaces;
  margin: 0;
}
.message_bottom {
  align-self: flex-end;
  font-size: 13px;
  color: #b18d8d;
  display: flex;
  width: 100%;
}
.message_date {
  width: 100%;
  align-self: start;
  text-align: start;
}
.message_status {
  margin-left: 5px;
  align-self: flex-end;
  text-align: end;
  width: 60px;
}

.message_others {
  @extend %message;
  background: #231b1b;
}
.message_me {
  @extend %message;
  align-self: flex-end;
  background: rgb(119, 78, 119);
  // box-shadow: 0 0 10px rgb(119, 78, 119);
}
