%message {
  max-width: 250px;
  min-width: 70px;
  height: auto;
  /* min-height: 50px; */
  margin: 10px 8px 0;
  align-self: flex-start;
  border-radius: 15px;
  padding: 10px;
  word-wrap: break-word;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.message_text {
  flex: 1;
}
.message_date {
  align-self: flex-end;
  font-size: 13px;
  color: #b18d8d;
}
.message_others {
  @extend %message;
  background: #231b1b;
}
.message_me {
  @extend %message;
  align-self: flex-end;
  background: rgb(119, 78, 119);
  box-shadow: 0 0 10px rgb(119, 78, 119);
}

.message_status {
  display: flex;
}
