* {
  outline: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#__next {
  height: 100%;
  overflow: hidden;
}
:root {
  --black: #231b1b;
  --grey: #413737;
  --violet: #774e77;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  background: var(--grey);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  position: relative;
  align-self: flex-start;
  justify-self: flex-start;
}
.main-page {
  padding: 52px 0 0 0;
  justify-content: flex-start;
}
.messages-page {
  margin: 0 0 45px 0;
}
button {
  cursor: pointer;
}
.container {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #413737;
  overflow: hidden;
}
.black-container {
  background-color: #231b1b;
  height: 46px;
  width: calc(100% - 6px);
  border-radius: 23px;
  display: flex;
  transition: 0.2s ease-out;
  z-index: 9;
}
.header {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  align-self: center;
  top: 3px;
  pointer-events: none;
}
.header-button {
  border: none;
  background: none;
  margin: 0 0 0 10px;
  padding: 0;
  border: none;
  height: 30px;
  width: 33px;
  align-self: center;
  display: flex;
  pointer-events: initial;
}
.header-button:empty {
  width: 27px;
  height: 28px;
}
.header-button svg {
  fill: #b18d8d;
}
.header-text {
  color: #b18d8d;
  justify-self: center;
  font-size: 18px;
  pointer-events: initial;
}
.header-image {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 50%;
  pointer-events: initial;
}
.new-message {
  align-self: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: auto;
  flex-shrink: 0;
  transition: 0.2s ease-in-out;
  position: fixed;
  bottom: 2px;
}
.new-message textarea {
  resize: none;
  font-size: 18px;
  margin: 3px 0 3px 3px;
  background: #413737;
  border: none;
  border-radius: 20px;
  flex: 5;
  padding: 4px 10px;
  overflow-x: hidden;
  -moz-appearance: none;
  appearance: none;
  line-height: 22px;
  color: #b18d8d;
}
.new-message input::placeholder {
  color: #b18d8d;
}
.new-message button {
  margin: 0 3px 0 5px;
  width: 32px;
  height: 32px;
  border: none;
  background: #413737;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-message button svg {
  fill: #b18d8d;
  transform: rotate(180deg);
}
.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
pre a {
  color: var(--black);
  text-decoration: underline;
}
