:root {
  --bg-color: #252838;
  --bg-color-light: #343a4f;
  --main-color: #3369f3;
  --gray: #9898b0;
  --gray-dark: #4c546f;
  --red:#F44D4D
}
* {
  font-family: "Roboto", sans-serif;
}

html,
body,
#__next {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  overflow: hidden;
}

// globals
.button {
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 13pt;
  font-weight: 500;
}

.big_button {
  height: 37px;
  width: 280px;
  margin: 10px 0;
  flex-shrink: 0;
}

.link_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 11pt;
  color: var(--main-color);
}
.header_button {
  margin-left: 15px;
}


.chats_page {
  height: 100%;
  width: 100%;
  .chats_header {
    height: 102px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
  }

  .profile_button {
    margin: 10px 15px 0 0;
  }
  .chats_search {
    height: 12px;
    width: calc(100% - 60px);
    background-color: var(--bg-color-light);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    font-size: 12pt;
    color: white;
    font-weight: 500;
  }
  .chats_list {
    height: calc(100% - 106px);
    width: 100%;
    overflow-y: scroll;
  }
  .chat_item {
    height: 46px;
    padding: 12px 10px;
    border-top: 1px solid var(--gray);
    display: flex;
    gap: 10px;

    .chat_photo {
      width: 47px;
      height: 47px;
      background-color: var(--bg-color-light);
      border-radius: 50%;
    }
    .chat_details {
      flex: 1;
    }
    .chat_name {
      font-size: 13pt;
      font-weight: 500;
      color: white;
    }
    .chat_message {
      font-size: 12pt;
      font-weight: 500;
      color: var(--gray);
    }
    .chat_time_unread {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-direction: column;
    }
    .chat_time {
      font-size: 12pt;
      font-weight: 500;
      color: var(--gray);
    }
    .chat_unread_count {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--gray);
      border-radius: 50%;
      font-size: 11pt;
      font-weight: 500;
      color: var(--bg-color);
      flex-shrink: 0;
    }
  }
}

.chat_page {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--bg-color-light);
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  .chat_header {
    width: 100%;
    height: 59px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
  }
  .chat_image {
    height: 34px;
    width: 34px;
    background-color: var(--bg-color-light);
    border-radius: 50%;
    margin: 0 15px;
  }

  .chat_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
    flex: 1;
  }
  .chat_name {
    color: white;
    font-size: 13pt;
  }
  .last_online {
    font-size: 10pt;
  }
  .chat_messages {
    height: calc(100% - 99px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .message {
      max-width: 220px;
      min-width: 100px;
      margin: 5px 8px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      color: #e2e2e4;

      .message_details {
        align-self: flex-end;
      }
      .message_time {
        font-size: 9pt;
        color: #717790;
      }
      .message_status {
        font-size: 9pt;
        margin-left: 5px;
        width: 15px;
        height: 8px;
      }
    }

    .message_line {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      .message {
        background-color: var(--gray-dark);
        border-radius: 0 8px 8px 8px;
      }
    }
    .message_line--own {
      justify-content: flex-end !important;

      .message {
        background-color: var(--bg-color);
        border-radius: 8px 8px 0 8px;
      }
    }
  }

  .new_message {
    height: 40px;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
  }

  .new_message__input {
    height: 25px;
    padding: 2px;
    color: white;
    flex: 1;
    font-size: 16px;
    background-color: var(--bg-color-light);
    border: none;
    margin: 0 5px;
  }
  .new_message__button {
    height: 29px;
    width: 39px;
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    margin: 0 5px;
  }
}
.chat_page__open {
  transform: translateX(0);
  transition: 0.2s ease-in-out;
}
